<ion-header>
  <ion-toolbar>
    <ion-title>resultadoHoteles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let hotel of datosHoteles">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{hotel.categoria}}</ion-card-subtitle>
        <ion-card-title>{{hotel.nombre}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-label>{{hotel.tiposHabitacion[0].precio}}</ion-label>
        
        <ion-button  [routerLink]="['/resultado-habitacion',hotel]">Saber mas...</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
